#
# Touchscreen driver configuration
#
menuconfig INPUT_TOUCHSCREEN
	bool "Touchscreens"
	help
	  Say Y here, and a list of supported touchscreens will be displayed.
	  This option doesn't affect the kernel.

	  If unsure, say Y.

if INPUT_TOUCHSCREEN

# common

config TOUCHSCREEN_COMMON
	bool "Common touchscreen interface to interact with userspace"
	default n
	help
	  Say Y here if you want to control touchpanel features via
	  /sys/touchpanel.

	  If unsure, say N.

# ysl
source "drivers/input/touchscreen/ft5446_e6/Kconfig"
source "drivers/input/touchscreen/gt917d_e6/Kconfig"

endif
