#
# Touchscreen driver configuration
#
menuconfig INPUT_TOUCHSCREEN
	bool "Touchscreens"
	help
	  Say Y here, and a list of supported touchscreens will be displayed.
	  This option doesn't affect the kernel.

	  If unsure, say Y.

if INPUT_TOUCHSCREEN

# ysl
source "drivers/input/touchscreen/ft5446_e6/Kconfig"
source "drivers/input/touchscreen/gt917d_e6/Kconfig"

endif
